@model Doan.ViewModel.RegisterVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

@using (Html.BeginForm("Register","Account",FormMethod.Post))
            {
                <div class="row w-100 mx-auto">
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.UserName)
                        @Html.TextBoxFor(temp => temp.UserName, new { placeholder = "UserName", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.UserName)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.Email)
                        @Html.TextBoxFor(temp => temp.Email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Email)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.Password)
                        @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Password)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.ConfirmPassword)
                        @Html.PasswordFor(temp => temp.ConfirmPassword, new { placeholder = "ConfirmPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.Birthday)
                        @Html.TextBoxFor(temp => temp.Birthday, new { placeholder = "Birthday", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Birthday)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.Address)
                        @Html.TextBoxFor(temp => temp.Address, new { placeholder = "Address", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Address)
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(temp => temp.PhoneNumber)
                        @Html.TextBoxFor(temp => temp.PhoneNumber, new { placeholder = "PhoneNumber", @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.PhoneNumber)
                    </div>
                </div>
                <div class="row w-50 mx-auto">
                    <div class="col-md-12"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </div>
                
            }

