<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/footercss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/Scripts/Test.js"></script>*@
    <!--<link href="~/Content/CSSthay.css" rel="stylesheet" />-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/about.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>ABOUT US</title>
</head>
<body>
    <div class="p-3 text-end" style="background: hsla(240, 100%, 50%, 0.75) ">
    <a href="#" class="navbar-brand">
        <span class="d-inline">
            <img src="~/Image/icon---.png" alt="" width="30" height="24">
            SELL SHOES  |
        </span>
    </a>
    <a href="#" class="navbar-brand">
        <span class="d-inline">
            @if (User.Identity.IsAuthenticated)
            {
                <span>Hello @User.Identity.Name</span>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <span>| </span>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                @Html.ActionLink("Đăng Xuất", "Logout", "Account")
                <span>| </span>
            }
            else
            {
                <span class="text-white">@Html.ActionLink("Đăng Nhập", "Login", "Account")</span>
                <span>| </span>
                @Html.ActionLink("Đăng Kí", "Register", "Account")
            }
        </span>
    </a>
    <span class="d-inline">
        <i class="fa fa-phone" aria-hidden="true"></i> Hotline : 0903104340
    </span>
    </div>
    <nav class="navbar navbar-expand-md sticky-top fixed-top" style="background: hsla(240, 100%, 50%, 0.75) ">
        <div class="container-fluid" style="width:55px;text-align:left;">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Image/icon---.png" alt="" width="45" height="36">
                SELL SHOES
            </a>
        </div>
        <div class="container" style="color:whitesmoke;text-align:center">
            <ul class="navbar-nav navbar-brand">
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")" class="nav-link">HOME |</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Product")" class="nav-link">PRODUCT |</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")" class="nav-link">ABOUT |</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Contact")" class="nav-link">CONTACT </a>
                </li>
            </ul>
        </div>
        <a href="@Url.Action("ShowToCart","ShoppingCart")">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            @Html.Action("BagCart", "ShoppingCart")
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Nhập từ giày cần tìm" aria-label="Search">
            <button class="btn btn-toolbar" type="submit" style="border: black solid 1px"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>

    </nav>
    <div>
        @RenderBody()
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Sell<span>Shoes</span></h3>

            <p class="footer-links">
                <a href="@Url.Action("Index","Home")" class="link-1">Home</a>

                <a href="#">About</a>

                <a href="@Url.Action("Index","Contact")">Contact</a>
            </p>

            <p class="footer-company-name">Sell Shoes © 2023</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>140 Lê Trọng Tấn, Phường Tây Thạnh </span> Quận Tân Phú, TP.HCM</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+123456.789</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:nguyenphuoclongnhd2016@gmail.com">nguyenphuoclongnhd2016@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About Shop</span>
                Toàn bộ sản phẩm của BE CLASSY đều được thiết kế và sản xuất từ các nghệ nhân đóng giày dày dạn kinh nghiệm nhất. Kiểu giày Tây nhưng được thiết kế theo chuẩn phom chân của các quý ông Việt.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
</body>
</html>
